<div id="tridiv">
    <div class="scene"
        style="-webkit-transform:rotateX(-2deg) rotateY(-361deg); -moz-transform:rotateX(-2deg) rotateY(-361deg); -ms-transform:rotateX(-2deg) rotateY(-361deg); transform:rotateX(-2deg) rotateY(-361deg); ">
        <div class="shape cuboid-1 cub-1 id01" matTooltip="Angular">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.angular" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.angular" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.angular" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.angular" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.angular" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.angular" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id02" matTooltip="React">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.reactWeb" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.reactWeb" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.reactWeb" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.reactWeb" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.reactWeb" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.reactWeb" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id03" matTooltip="VueJs">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.vueJs" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.vueJs" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.vueJs" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.vueJs" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.vueJs" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.vueJs" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id04" matTooltip="Material Design">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.materialDesign" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.materialDesign" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.materialDesign" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.materialDesign" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.materialDesign" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.materialDesign" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id05" matTooltip="PHP">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.php" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.php" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.php" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.php" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.php" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.php" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id06" matTooltip="Electron">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.electron" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.electron" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.electron" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.electron" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.electron" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.electron" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id07" matTooltip="Html">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.html" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.html" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.html" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.html" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.html" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.html" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id08" matTooltip="Javascript">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.javascript" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.javascript" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.javascript" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.javascript" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.javascript" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.javascript" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id09" matTooltip="CSS">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.css" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.css" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.css" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.css" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.css" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.css" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id10" matTooltip="NodeJS">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.nodeJs" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.nodeJs" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.nodeJs" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.nodeJs" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.nodeJs" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.nodeJs" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id11" matTooltip="NPM">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.npmModules" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.npmModules" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.npmModules" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.npmModules" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.npmModules" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.npmModules" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id12" matTooltip="Wix">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.wix" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.wix" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.wix" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.wix" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.wix" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.wix" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id13" matTooltip="Git">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.git" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.git" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.git" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.git" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.git" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.git" alt="">
            </div>
        </div>
        <div class="shape cuboid-1 cub-1 id14" matTooltip="Github">
            <div class="face ft">
                <img class="photon-shader" [src]="logos.github" alt="">
            </div>
            <div class="face bk">
                <img class="photon-shader" [src]="logos.github" alt="">
            </div>
            <div class="face rt">
                <img class="photon-shader" [src]="logos.github" alt="">
            </div>
            <div class="face lt">
                <img class="photon-shader" [src]="logos.github" alt="">
            </div>
            <div class="face bm">
                <img class="photon-shader" [src]="logos.github" alt="">
            </div>
            <div class="face tp">
                <img class="photon-shader" [src]="logos.github" alt="">
            </div>
        </div>
    </div>

</div>

<!-- <div class="shape cuboid-1 cub-1 id13 margin_13" (mouseenter)="animeInsert('.id13', 'rotation', 5000)" (click)="animeInsert('.id13', 'jump', 2000)"> -->