<div class="home">
    <div>
        <div id="fullName">HENRIQUE CANDOLO</div>
        <div id="jobTitle">DEVELOPER | DESIGNER</div>
    </div>
    <!-- <app-anime-icons></app-anime-icons> -->
    <div class="boxBottom transparent">
        <a mat-icon-button href='https://github.com/hencan' target="_blank">
            <i class="fab fa-github"></i>
            <!-- <span>github</span> -->
        </a>
        <a mat-icon-button href='https://codepen.io/hencan' target="_blank">
            <i class="fab fa-codepen"></i>
            <!-- <span>CodePen</span> -->
        </a>
        <a mat-icon-button href='https://www.linkedin.com/in/hencan/' target="_blank">
            <i class="fab fa-linkedin"></i>
            <!-- <span>LinkedIn</span> -->
        </a>
        <button mat-icon-button (click)='inConstruction()'>
            <i class="fab fa-instagram"></i>
            <!-- <span>Instagran</span> -->
        </button>

    </div>

</div>