.header {
    position: fixed;
    top: 0;
    /* width: 100%; */
    width: calc(100vw - 1px);
    display: flex;
    flex-direction: column;
    background-color: transparent;
    z-index: 100;
}

#btnsHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    /* align-items: center; */
    justify-content: space-between;
    /* z-index: 100; */
}

#navToolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    background-color: transparent;
    align-items: center;
    justify-content: flex-end;
    transform: scale(1, 0);
}

#navToolbar a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    /* font-size: 15px; */
    font-size: 1rem;
    background-color: transparent;
    color: rgba(241, 243, 244, 0.5);
    border: transparent;
    cursor: pointer;
    text-decoration: none;
    margin: 0 2%;
}

#navToolbar a mat-icon {
    /* font-size: 20px; */
    font-size: 1.25rem;
    vertical-align: middle;
    color: rgba(241, 243, 244, 0.5);
}

#navToolbar a:hover {
    /* text-decoration: underline; */
    color: rgba(241, 243, 244, 0.85);
}

#navToolbar a mat-icon:hover {
    color: rgba(241, 243, 244, 0.85);
}

.bgDark {
    animation: bgDark 0.5s forwards;
}

@keyframes bgDark {
    from {
        /* background-color: transparent; */
    }
    to {
        /* background-color: rgb(0, 0, 0); */
        background-color: rgb(16, 16, 16);
        border-bottom: solid 1px rgba(241, 243, 244, 0.25);
    }
}

.showToolbar {
    animation: showToolbar 0.25s forwards linear;
}

@keyframes showToolbar {
    0% {
        transform: scale(1, 0);
        filter: opacity(0);
    }
    100% {
        transform: scale(1, 1);
        filter: opacity(1);
    }
}

.hideToolbar {
    animation: hideToolbar 0.25s forwards linear;
}

@keyframes hideToolbar {
    0% {
        transform: scale(1, 1);
        filter: opacity(1);
    }
    100% {
        transform: scale(1, 0);
        filter: opacity(0);
    }
}

#btnsLoginBox {
    margin: 10px 2% 0;
    cursor: pointer;
    text-align: right;
    /* z-index: 1000; */
}

#buttonLogin {
    background-color: transparent;
    color: rgba(241, 243, 244, 0.45);
}

#buttonLogin mat-icon {
    font-size: 1.25rem;
}

#buttonLogin:hover {
    color: rgba(241, 243, 244, 0.85);
}

#buttonLogged {
    display: none;
    background-color: transparent;
    color: rgba(241, 243, 244, 0.45);
}

#buttonLogged img {
    width: 23px;
    border-radius: 10px;
    /* margin-right: 5px; */
}

#btnsMusic {
    margin: 10px 2% 0;
    cursor: pointer;
    text-align: left;
    /* z-index: 1000; */
}

#btnMusicOff {
    background-color: transparent;
    color: rgba(241, 243, 244, 0.45);
}

#btnMusicOff mat-icon {
    font-size: 1.15rem;
}

#btnMusicOff:hover {
    color: rgba(241, 243, 244, 0.85);
}

#btnMusicOn {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    cursor: pointer;
    display: none;
    /* margin: 5px 0 0 5px; */
}

#bar_0 {
    width: 0.25px;
    height: 18px;
    margin: 0;
}

#bar_1, #bar_2, #bar_3, #bar_4, #bar_5 {
    width: 2px;
    /* border-radius: 20px 20px 0 0; */
    border-radius: 20px;
    height: 15px;
    margin: 0 1px;
}

.sound {
    animation: animeBars 0.8s infinite ease-in-out alternate;
    background-color: rgba(241, 243, 244, 0.75);
}

.noSound {
    background-color: rgba(241, 243, 244, 0.25);
}

#bar_1 {
    animation-delay: 0;
}

#bar_2 {
    animation-delay: 0.25s;
}

#bar_3 {
    animation-delay: 0.75s;
}

#bar_4 {
    animation-delay: 0.55s;
}

#bar_5 {
    animation-delay: 0.45s;
}

@keyframes animeBars {
    from {
        height: 15px;
    }
    to {
        height: 2px;
    }
}

#btnGithub {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

#btnGithub a {
    background-color: transparent;
    color: rgba(241, 243, 244, 0.45);
}

/* Animations */

/* Visualização Desktop */

@media(min-width: 450.5px) {}

/* Visualização Mobile */

@media(max-width: 450px) {
    #btnsLoginBox {
        margin: 15px 4% 0;
    }
    #btnsMusic {
        margin: 15px 4% 0;
    }
    #navToolbar {
        margin: 0 4%;
        width: 92%;
        justify-content: space-between;
    }
    #navToolbar a {
        margin: 0;
        font-size: 3.5vw;
    }
    #navToolbar a mat-icon {
        font-size: 5vw;
    }
    #buttonLogin mat-icon {
        font-size: 4.75vw;
    }
    #btnMusicOff mat-icon {
        font-size: 4vw;
    }
}

@media(max-width: 340px) {
    .buttonsNav a {
        font-size: 0.7rem;
        margin: 0 2.5px;
    }
}