<mat-toolbar id="mat-toolbar-id">
    <mat-toolbar-row class="first">
        <div id="logo" class="logo hidden">
            <img [src]="logo" alt="logo" (click)='goTo("")'>
        </div>
        <button mat-icon-button aria-label="Projetos" [matMenuTriggerFor]="menuNav" aria-label="icon-button with a menu"
            class="mobile">
            <mat-icon style="font-size: 25px;">menu</mat-icon>
        </button>
        <mat-menu #menuNav class="mat-elevation-z8">
            <button mat-menu-item style="width: 80vw;" disabled>
                <span>MENU</span>
            </button>
            <button mat-menu-item (click)='goTo("projects")'>
                <mat-icon>laptop_windows</mat-icon>
                <span>Projetos</span>
            </button>
            <button mat-menu-item (click)='goTo("tutorials")'>
                <mat-icon>local_library</mat-icon>
                <span>Tutoriais</span>
            </button>
            <button mat-menu-item (click)='goTo("articles")'>
                <mat-icon>inventory_2</mat-icon>
                <span>Artigos</span>
            </button>
            <button mat-menu-item (click)='goTo("info")'>
                <mat-icon>account_circle</mat-icon>
                <span>Info</span>
            </button>
            <mat-list>
                <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item style="width: 80vw;" disabled>
                <span>LINK´S</span>
            </button>
            <a mat-menu-item href='https://github.com/hencan' target="_blank">
                <i class="fab fa-github"></i>
                <span>Github Hencan</span>
            </a>
            <a mat-menu-item href='https://codepen.io/hencan' target="_blank">
                <i class="fab fa-codepen"></i>
                <span>CodePen Hencan</span>
            </a>
            <a mat-menu-item href='https://www.linkedin.com/in/hencan/' target="_blank">
                <i class="fab fa-linkedin"></i>
                <span>LinkedIn Hencan</span>
            </a>
            <a mat-menu-item disabled>
                <i class="fab fa-instagram"></i>
                <span>Instagran Hencan</span>
            </a>
            <br>
        </mat-menu>

        <app-music-player></app-music-player>

        <!-- <button mat-icon-button aria-label="Botão de Login" id="buttonLogin" (click)='goTo2("login")'>
            <mat-icon>login</mat-icon>
        </button> -->

        <!-- <span class="title-mobile" (click)='goTo("")'>HENCAN</span> -->

        <!-- <button mat-icon-button (click)='goTo("")' class="mobile">
            <mat-icon>home</mat-icon>
        </button> -->

        <div id="btnsLoginBox">
            <button mat-icon-button aria-label="Botão de Login" id="buttonLogin" (click)='goTo2("login")'>
                <mat-icon>login</mat-icon>
            </button>
            <button mat-icon-button id="buttonLogged" matTooltip="Perfil, Admin e Logoff"
                [matMenuTriggerFor]="menuLogin">
                <img id="buttonLogged_Img" [src]="loggedAs.photo" alt="">
            </button>
            <mat-menu #menuLogin>
                <button mat-menu-item (click)='goTo("admin/profile")'>
                    <mat-icon>account_circle</mat-icon>
                    Meu Perfil
                </button>
                <button mat-menu-item (click)='goTo("admin/projects")'>
                    <mat-icon>apps</mat-icon>
                    Posts de Projetos
                </button>
                <button mat-menu-item (click)='goTo("admin/tutorials")'>
                    <mat-icon>library_books</mat-icon>
                    Posts de Tutoriais
                </button>
                <button mat-menu-item (click)='goTo("admin/articles")'>
                    <mat-icon>library_books</mat-icon>
                    Posts do Artigos
                </button>
                <button mat-menu-item (click)='goTo("admin/users")'>
                    <mat-icon>people</mat-icon>
                    Usuários
                </button>
                <button mat-menu-item (click)='goTo("admin/config")'>
                    <mat-icon>construction</mat-icon>
                    Configurações
                </button>
                <button mat-menu-item (click)='goTo2("login")'>
                    <mat-icon>login</mat-icon>
                    Logoff
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="second">
        <button mat-button aria-label="Home" (click)='goTo("")'>
            <mat-icon>home</mat-icon>
            <br><span>Home</span>
        </button>
        <button mat-button aria-label="Projetos" (click)='goTo("projects")'>
            <mat-icon>laptop_windows</mat-icon>
            <br><span>Projetos</span>
        </button>
        <button mat-button aria-label="Tutoriais" (click)='goTo("tutorials")'>
            <mat-icon>local_library</mat-icon>
            <br><span>Tutoriais</span>
        </button>
        <button mat-button aria-label="Artigos" (click)='goTo("articles")'>
            <mat-icon>inventory_2</mat-icon>
            <br><span>Artigos</span>
        </button>
        <button mat-button aria-label="Info" (click)='goTo("info")'>
            <mat-icon>account_circle</mat-icon>
            <br><span>Info</span>
        </button>
        <!-- <div class="divider-vertical"></div>
        <button mat-button aria-label="Empresas">
            <mat-icon>business</mat-icon>
            <br><span>Empresas</span>
        </button> -->
    </mat-toolbar-row>

</mat-toolbar>
<!-- <div class="toolborbottom">
    <button mat-icon-button aria-label="Home" (click)='goTo("")' class="mobile">
        <mat-icon style="font-size: 25px;">home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Projetos" (click)='goTo("projects")' class="mobile">
        <mat-icon style="font-size: 25px;">laptop_windows</mat-icon>
    </button>
    <button mat-icon-button aria-label="Tutoriais" (click)='goTo("tutorials")' class="mobile">
        <mat-icon style="font-size: 25px;">local_library</mat-icon>
    </button>
    <button mat-icon-button aria-label="Artigos" (click)='goTo("articles")' class="mobile">
        <mat-icon style="font-size: 25px;">inventory_2</mat-icon>
    </button>
    <button mat-icon-button aria-label="Info" (click)='goTo("info")' class="mobile">
        <mat-icon style="font-size: 25px;">account_circle</mat-icon>
    </button>
</div> -->
