.blog {
  position: absolute;
  top: 90px;
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(241, 243, 244);
  padding: 10px 0;
  margin: 0 1% 0;
}

.hideBlog {
  animation: hideBlog 1.5s forwards;
}

@keyframes hideBlog {
  0% {
    transform: translateY(0);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(0);
    transform: scale(1, 0.8) translateY(200px);
  }
}

table {
  margin: 0;
}

.mat-table, .mat-row, .mat-cell {
  background-color: transparent;
}

.mat-cell {
  /* background-color: rgba(241, 243, 244, 0.85); */
}

.capa {
  /* width: 300px; */
  cursor: default;
  width: 20vw;
  margin: 5px 10px 5px 0;
  border: solid 1px rgb(66, 66, 78);
  border-radius: 2.5px;
}

.capa:hover, .title:hover {
  filter: brightness(50%);
  cursor: pointer;
  /* transition: filter 0.5s; */
  text-decoration: underline;
}

.titleColumn {
  display: flex;
  flex-direction: column;
}

.paginator {
  margin: 0;
  padding: 10px 24px 20px;
  color: rgb(31, 31, 31);
  background-color: transparent;
}

/* Visualização Desktop */

@media(min-width: 450.5px) {}

/* Visualização Mobile */

@media(max-width: 450px) {
  .capa {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
  .mat-row {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
    border-radius: 2.5px;
  }
  .mat-cell:first-of-type {
    padding-left: 0;
  }
  .mat-cell {
    padding-left: 0;
  }
}