.blog {
  position: absolute;
  top: 90px;
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(241, 243, 244);
  padding: 10px 0;
  margin: 0 1% 0;
}

.showBlog {
  animation: showBlog 1s forwards;
}

@keyframes showBlog {
  0% {
    filter: opacity(0);
    transform: translateY(100vh);
  }
  50% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(1);
    transform: translateY(0);
  }
}

.hideBlog {
  animation: hideBlog 1.5s forwards;
}

@keyframes hideBlog {
  0% {
    transform: translateY(0);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(0);
    transform: scale(1, 0.8) translateY(200px);
  }
}

table {
  margin: 0;
}

.mat-table, .mat-row, .mat-cell {
  background-color: transparent;
}

.mat-cell {
  /* background-color: rgba(241, 243, 244, 0.85); */
}

.header {
  text-align: center;
  color: rgb(7, 19, 33);
  font-size: 5vw;
  font-weight: 100;
  letter-spacing: 5vw;
  margin: 50px 0 25px 5vw;
  transform: scale(1, 0.2);
  filter: opacity(0.05);
  animation: growHeader 1s forwards;
  animation-delay: 0.5s;
}

@keyframes growHeader {
  0% {
    transform: translateY(0);
    transform: scale(1, 0.25);
  }
  100% {
    transform: scale(1, 0.85);
    filter: opacity(1);
    text-shadow: 5px 5px 20px rgba(3, 2, 1, 0.2);
  }
}

.capa {
  /* width: 300px; */
  cursor: default;
  width: 20vw;
  margin: 5px 10px 5px 0;
  border: solid 1px rgb(66, 66, 78);
  border-radius: 2.5px;
}

.capa:hover, .title:hover {
  filter: brightness(50%);
  cursor: pointer;
  /* transition: filter 0.5s; */
  text-decoration: underline;
}

.titleColumn {
  display: flex;
  flex-direction: column;
}

.paginator {
  margin: 0;
  padding: 10px 24px 20px;
  color: rgb(31, 31, 31);
  background-color: transparent;
}

/* Visualização Desktop */

@media(min-width: 450.5px) {}

/* Visualização Mobile */

@media(max-width: 450px) {
  .header {
    /* font-size: 7.5vw; */
    /* font-weight: 400; */
    /* letter-spacing: 5vw; */
    /* margin: 20px 0 5px 5vw; */
    display: none;
  }
  .capa {
    width: calc(98% - 20px);
    margin: 0 10px;
  }
  .mat-row {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
    border-radius: 2.5px;
  }
  .mat-cell:first-of-type {
    padding-left: 0;
  }
  .mat-cell {
    padding-left: 0;
  }
}