/* Some styles is in global file style.css */

.projects {
  position: absolute;
  top: 90px;
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(241, 243, 244);
  padding: 10px 0;
  margin: 0 1% 0;
}

.showProjects {
  animation: showProjects 1s forwards;
}

@keyframes showProjects {
  0% {
    filter: opacity(0);
    transform: translateY(100vh);
  }
  100% {
    filter: opacity(1);
    transform: translateY(0);
  }
}

.hideProjects {
  animation: hideProjects 1.5s forwards;
}

@keyframes hideProjects {
  0% {
    transform: translateY(0);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(0);
    transform: scale(1, 0.8) translateY(200px);
  }
}

table {
  margin: 0;
}

.mat-table, .mat-row, .mat-cell {
  background-color: transparent;
}

.mat-cell {
  /* background-color: rgba(241, 243, 244, 0.85); */
}

.header {
  text-align: center;
  color: rgb(7, 19, 33);
  font-size: 5vw;
  font-weight: 100;
  letter-spacing: 5vw;
  margin: 50px 0 25px 5vw;
  transform: scale(1, 0.2);
  filter: opacity(0.05);
  animation: growHeader 1s forwards;
  animation-delay: 0.5s;
}

@keyframes growHeader {
  0% {
    transform: translateY(0);
    transform: scale(1, 0.25);
  }
  100% {
    transform: scale(1, 0.85);
    filter: opacity(1);
    text-shadow: 5px 5px 20px rgba(3, 2, 1, 0.2);
  }
}

.capa {
  /* width: 300px; */
  cursor: default;
  width: 20vw;
  margin: 5px 10px 5px 0;
  border: solid 1px rgb(66, 66, 78);
  border-radius: 2.5px;
}

.capa:hover, .title:hover {
  filter: brightness(50%);
  cursor: pointer;
  /* transition: filter 0.5s; */
  text-decoration: underline;
}

.titleColumn {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: normal;
}

.content {
  font-size: 1rem;
  font-weight: 200;
  color: rgb(31, 31, 31);
  padding: 10px 10px 20px;
  line-height: normal;
}

.btnsGoto {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.btnsGoto div button, a {
  font-size: 0.9rem;
  color: rgb(25, 26, 31);
  margin: 10px auto;
}

.btnsGoto div a mat-icon {
  font-size: 1rem;
  vertical-align: baseline;
}

/* Animação da tabela */

.cardDetailHiddenRow {
  height: 0;
}

.cardDetailHiddenRow td {
  border-bottom-width: 0;
}

.cardDetailRow {
  height: 0;
}

.cardDetailHidden {
  overflow: hidden;
  display: flex;
}

.cardDetailExpanded {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
}

tr.cardDetailHiddenRow:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: rgb(201, 203, 204);
}

.paginator {
  margin: 0;
  padding: 10px 24px 20px;
  color: rgb(31, 31, 31);
  background-color: transparent;
}

/* Visualização Desktop */

@media(min-width: 450.5px) {}

/* Visualização Mobile */

@media(max-width: 450px) {
  /* .projects {
    top: 80px;
  }   */
  .header {
    /* font-size: 7.5vw; */
    /* font-weight: 400; */
    /* letter-spacing: 5vw; */
    /* margin: 20px 0 5px 5vw; */
    display: none;
  }
  .capa {
    width: 26.5vw;
    margin: 0 1vw 0 2.5vw;
  }
  .label {
    font-size: 10px;
    padding: 5px 10px;
    margin: 0;
  }
  .content {
    font-size: 10px;
    padding: 2.5px 10px 5px;
  }
  .btnsGoto div button, a {
    font-size: 10px;
    margin: 10px auto;
  }
  .btnsGoto div a mat-icon {
    font-size: 12px;
  }
  .mat-row {
    /* display: flex;
    flex-direction: column; */
    height: auto;
    padding-bottom: 20px;
    border-radius: 2.5px;
  }
  .mat-cell:first-of-type {
    padding-left: 0;
  }
  .mat-cell:last-of-type {
    padding-right: 2.5vw;
  }
  .mat-cell {
    padding-left: 0;
  }
  .cardDetailExpanded {
    padding: 20px 10px;
  }
  .content {
    font-size: 10px;
  }
}