/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* Tipos de Fonts: opentype   |   truetype */

/* @font-face {
  font-family: Neoneon;
  src: url(./assets/fonts/neoneon/Neoneon.otf) format("opentype");
} */

/* @font-face {
  font-family: Kompakt;
  src: url(./assets/fonts/kompact/kompakt-Regular.otf) format("opentype");
} */

/* ######################################################################################### */

/* ################################# Estilo do Scrollbar 👇 ################################ */

/* ######################################################################################### */

:root {
  --font_family_standard: 'Lato', sans-serif;
  /*  */
  --font_size_header_desktop: 3.5vw;
  --font_size_header_mobile: 20px;
  /*  */
  --image_size_desktop: 25vw;
  --image_size_mobile: calc(100% - 20px);
  /*  */
  /* --font_size_title_desktop: 1.2rem; */
  --font_size_title_desktop: 16px;
  --font_size_title_mobile: 14px;
  /*  */
  /* --font_size_subtitle_desktop: 1.1rem; */
  --font_size_subtitle_desktop: 16px;
  --font_size_subtitle_mobile: 13px;
  /*  */
  /* --font_size_paragraf_desktop: 1rem; */
  --font_size_paragraf_desktop: 15px;
  --font_size_paragraf_mobile: 12px;
  /*  */
  /* --font_size_date_desktop: 0.9rem; */
  --font_size_date_desktop: 12px;
  --font_size_date_mobile: 10px;
  /*  */
  /* --font_size_categoryChips_desktop: 0.9rem; */
  --font_size_categoryChips_desktop: 12px;
  --font_size_categoryChips_mobile: 10px;
  /*  */
  /* --font_size_matChip_desktop: 1rem; */
  --font_size_matChip_desktop: 14px;
  --font_size_matChip_mobile: 12px;
  /*  */
  /* --font_size_matChipIcon_desktop: 1.2rem; */
  --font_size_matChipIcon_desktop: 17px;
  --font_size_matChipIcon_mobile: 15px;
  /*  */
  --font_size_btns_desktop: 1rem;
  --font_size_btns_mobile: 12px;
  /*  */
  --font_size_btnsIcons_desktop: 1rem;
  --font_size_btnsIcons_mobile: 12px;
}

/* ######################################################################################### */

/* ################################# Estilo do Scrollbar ☝ ################################ */

/* ######################################################################################### */

:host {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: var(--font_family_standard);
}

/* ######################################################################################### */

/* ################################# Estilo do Scrollbar 👇 ################################ */

/* ######################################################################################### */

/* width */

::-webkit-scrollbar {
  width: 1px;
}

/* Track */

::-webkit-scrollbar-track {
  background-color: rgb(44, 55, 66);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background-color: rgb(55, 66, 77);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(29, 116, 245);
}

/* ######################################################################################### */

/* ################################# Estilo do Scrollbar ☝ ################################ */

/* ######################################################################################### */

/* ######################################################################################### */

/* ######################### Interface e Operadores de Filtros 👇 ########################## */

/* ######################################################################################### */

.btnsFilters {
  display: flex;
  flex-direction: row;
  margin: 10px 24px 15px;
}

.btnsFilters mat-chip-list mat-chip {
  font-size: var(--font_size_matChip_desktop);
  font-weight: 400;
}

.btnsFilters mat-chip-list mat-chip mat-icon {
  padding-top: 5px;
  font-size: var(--font_size_matChipIcon_desktop);
  text-align: left;
  width: 20px;
}

.mat-chip-selected {
  /* background-color: rgb(0, 120, 215) !important; */
  background-color: rgb(31, 31, 31) !important;
}

.divider-vertical {
  display: flex;
  align-self: stretch;
  margin: 6px 4px;
  border: none;
  border-right: solid 1px rgb(185, 185, 185);
}

.filtersItems {
  display: flex;
  flex-direction: column;
  width: calc(100% - 48px);
  height: auto;
  overflow: hidden;
  margin: 0 24px 20px;
}

.fiHide {
  display: none;
}

.fiShow {
  display: flex;
}

.search {
  margin: 0;
  padding: 0 24px;
}

/* Visualização Desktop */

@media(min-width: 450.5px) {}

/* Visualização Mobile */

@media(max-width: 450px) {
  .filtersItems {
    width: calc(100% - 48px);
    height: auto;
    margin: 0 24px 20px;
  }
  .btnsFilters {
    width: calc(100% - 20px);
    margin: 5px 10px;
  }
  .btnsFilters mat-chip-list {
    width: 100%;
  }
  .btnsFilters mat-chip-list .mat-chip-list-wrapper {
    justify-content: center;
  }
  .btnsFilters mat-chip-list mat-chip {
    font-size: var(--font_size_matChip_mobile);
    height: 10px;
  }
  .btnsFilters mat-chip-list mat-chip mat-icon {
    padding-top: 6px;
    font-size: var(--font_size_matChipIcon_mobile);
    width: 20px;
  }
  .search {
    margin: 0;
    padding: 0 2.5vw;
  }
}

/* ######################################################################################### */

/* ######################### Interface e Operadores de Filtros ☝ ########################## */

/* ######################################################################################### */

/* ######################################################################################### */

/* ######################## Padrão de colunas e Linhas Especiais 👇 ######################## */

/* ######################################################################################### */

.header {
  text-align: center;
  color: rgb(7, 19, 33);
  font-size: var(--font_size_header_desktop);
  font-weight: 100;
  letter-spacing: var(--font_size_header_desktop);
  margin: 50px 0 25px var(--font_size_header_desktop);
  transform: scale(1, 0.2);
  filter: opacity(0.05);
  animation: animeHeader 0.5s forwards;
  animation-delay: 0.25s;
}

.imageCapa {
  cursor: default;
  width: var(--image_size_desktop);
  margin: 5px 10px 5px 0;
  border: solid 1px rgb(66, 66, 78);
  border-radius: 2.5px;
}

.title {
  cursor: default;
  margin: 10px 0 0;
  font-size: var(--font_size_title_desktop);
  font-weight: 500;
  color: rgb(40, 40, 40);
  padding: 0 30px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.subtitle {
  margin: 2.5px 0 0;
  font-size: var(--font_size_subtitle_desktop);
  font-weight: 100;
  color: rgb(31, 31, 31);
  padding: 5px 10px 10px;
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1.8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content {
  font-size: var(--font_size_paragraf_desktop);
  font-weight: 200;
  color: rgb(31, 31, 31);
  padding: 10px 10px 20px;
  line-height: normal;
}

.dateAndBy {
  margin: 2.5px 0 0;
  color: rgb(31, 31, 31);
  font-size: var(--font_size_date_desktop);
  font-weight: 100;
  padding: 0 10px;
}

.category {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  height: auto;
  margin: 2.5px 0 10px 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.categoryChips {
  font-size: var(--font_size_categoryChips_desktop);
  font-weight: 100;
  margin: 0 7.5px 5px 0;
  border-radius: 50rem!important;
  /* background-color: rgba(241, 243, 244); */
  background-color: rgba(0, 0, 0, .1);
  color: rgba(0,0,0,.87);
  border: solid 1px rgb(185, 185, 185);
  font-weight: 400!important;
  display: inline-block;
  padding: .5em 1em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  box-sizing: border-box;
  cursor: default;
  border-spacing: 0;
}

.titleColumn {
  display: flex;
  flex-direction: column;
}

.paginator {
  margin: 0;
  padding: 10px 24px 20px;
  color: rgb(31, 31, 31);
  background-color: transparent;
}

@media(max-width: 450px) {
  .header {
    text-align: center;
    font-size: var(--font_size_header_mobile);
    letter-spacing: 2.5vw;
    margin: 5px 12px 7.5px;
    transform: scale(1, 1);
    filter: opacity(1);
    animation: none;
  }
  .imageCapa {
    width: var(--image_size_mobile);
    margin: 20px 10px 0;
  }
  .title {
    font-size: var(--font_size_title_mobile);
    margin: 5px 0 0;
    padding: 0 0 0 14px;
    line-height: normal;
  }
  .subtitle {
    margin: 1.5px 0 0;
    font-size: var(--font_size_subtitle_mobile);
    padding: 0 0 0 14px;
    line-height: normal;
  }
  .content {
    font-size: var(--font_size_paragraf_mobile);
    padding: 2.5px 10px 5px;
  }
  .dateAndBy {
    font-size: var(--font_size_date_mobile);
    margin: 5px 0 0;
    padding: 0 0 0 14px;
  }
  .category {
    margin: 1.5px 10px 20px;
  }
  .categoryChips {
    font-size: var(--font_size_categoryChips_mobile);
  }
}

/* ######################################################################################### */

/* ######################## Padrão de colunas e Linhas Especiais ☝ ######################## */

/* ######################################################################################### */

/* ######################################################################################### */

/* ######################## Animações 👇 #################################################### */

/* ######################################################################################### */

.showInLoading {
  /* animation: showInLoading 1s forwards; */
}

@keyframes showInLoading {
  0% {
    filter: opacity(0);
    transform: translateY(100vh);
  }
  50% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(1);
    transform: translateY(0);
  }
}

@keyframes animeHeader {
  0% {
    transform: translateY(0);
    transform: scale(1, 0.25);
  }
  100% {
    transform: scale(1, 0.85);
    filter: opacity(1);
    text-shadow: 5px 5px 20px rgba(3, 2, 1, 0.2);
  }
}

.showReaderCard {
  width: calc(100% - 40px);
  background-color: rgba(241, 243, 244);
  padding: 20px;
  animation: showReaderCard 1s forwards;
}

@keyframes showReaderCard {
  0% {
    filter: opacity(.75);
  }
  100% {
    filter: opacity(1);
  }
}

@media(max-width: 450px) {
  .showReaderCard {
    width: calc(100% - 20px);
    padding: 10px;
  }
}

/* ######################################################################################### */

/* ######################## Animações ☝ #################################################### */

/* ######################################################################################### */
