#info {
    /* display: none; */
}

.info {
    position: absolute;
    top: 90px;
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 243, 244);
    padding: 10px 0;
    margin: 0 1% 0;
}

.subtitle {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 10px;
    color: rgba(31, 31, 31, 0.75);
    padding: 20px 0;
    width: 100%;
}

.description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(31, 31, 31);
    padding: 10px 5% 50px;
    width: 90%;
    word-break: break-all;
}

/* Visualização Desktop */

@media(min-width: 650.5px) {}

/* Visualização Mobile */

@media(max-width: 650px) {
    .subtitle {
        font-size: 15px;
    }
    .description {
        font-size: 11px;
    }
}