<div id="widgetsBlog" class="widgetsBlog">
        <!-- Progress Bar -->
        <!-- <mat-progress-bar *ngIf="valueProgress < 100" mode="indeterminate" [value]="valueProgress"></mat-progress-bar> -->

        <!-- <mat-spinner *ngIf="valueProgress < 100"></mat-spinner> -->
        <!-- <table mat-table>

            ImageTitle Column
            <ng-container matColumnDef="imageTitle">
                <th mat-header-cell *matHeaderCellDef> Imagem Capa </th>
                <td mat-cell *matCellDef="let element"> <img [src]="element.imageTitle" class="capa">
                </td>
            </ng-container>

            Title Column
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Título </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <span class="title">
                            {{element.title}}
                        </span>
                        <span>
                            {{element.date}} | {{element.author}}
                        </span>
                        <span>
                            Categoria: {{element.categories | uppercase }}
                        </span>
                        <span class="condense">
                            {{element.subtitle}}
                        </span>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> -->

        <div *ngFor="let post of blog"> 
            <div class="card">
                <img [src]="post.imageTitle" class="capa" (click)="buttonRead(post)">
                <div class="label">
                    <span class="category">
                        {{post.categories | uppercase }}
                    </span>

                    <span class="title condense" (click)="buttonRead(post)">
                        {{post.title}}
                    </span>

                    <span class="dateAndBy">
                        {{post.date}} | {{post.author}}
                    </span>
                </div>
                <br>
            </div>    
          </div>

</div>