<div class="home">
    <div class="showHome">
        <div id="fullName">HENRIQUE CANDOLO</div>
        <div id="jobTitle">DEVELOPER | DESIGNER</div>
    </div>
    <div id="buttonsNav" class="showButtons">
        <a (click)='goTo("projects")'>
            <i class="fas fa-laptop-code"></i>
            <!-- <i class="fas fa-archive"></i> -->
            <!-- <i class="fas fa-jedi"></i> -->
            <span>PROJETOS</span>
        </a>
        <a (click)='goTo("tutorials")'>
            <i class="fas fa-book"></i>
            <span>TUTORIAIS</span>
        </a>
        <a (click)='goTo("articles")'>
            <i class="fas fa-archive"></i>
            <!-- <i class="far fa-newspaper"></i> -->
            <span>ARTIGOS</span>
        </a>
        <a (click)='goTo("info")'>
            <i class="fas fa-user-astronaut"></i>
            <span>INFO</span>
        </a>
        <a href='https://github.com/hencan' target="_blank">
            <i class="fab fa-github"></i>
            <span>github</span>
        </a>
    </div>
    <app-anime-icons></app-anime-icons>
    <div class="boxBottom"></div>
</div>