.home {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  justify-content: center;
}

#fullName {
  margin: 30vh 5% 40px;
  width: 90%;
  text-align: center;
  font-size: 5vw;
  font-weight: 100;
  letter-spacing: 2vw;
  color: rgba(241, 243, 244, 0.85);
  /* transform: scaleY(1.5); */
}

#jobTitle {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  margin: 0 5%;
  width: 90%;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: 3vw;
  color: rgba(241, 243, 244, 0.75);
  transform: scaleY(0.75);
}

.showHome {
  animation: showHome 1s forwards;
}

@keyframes showHome {
  0% {
    filter: opacity(0);
    transform: translateY(50vh);
  }
  /* 50% {filter: opacity(1);} */
  100% {
    filter: opacity(1);
    transform: translateY(0);
    text-shadow: 1.5px 1.5px 10px rgba(241, 243, 244, 0.35);
  }
}

.hideHome {
  animation: hideHome 1.5s forwards;
}

@keyframes hideHome {
  0% {
    transform: translateY(0);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(0);
    transform: scale(1, 0.8) translateY(200px);
  }
}

#buttonsNav {
  position: fixed;
  display: flex;
  bottom: 4vw;
  margin: 0 5%;
  width: 90%;
  justify-content: space-around;
  filter: opacity(0);
}

#buttonsNav a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(241, 243, 244, 0.85);
  font-size: 15px;
  cursor: pointer;
}

#buttonsNav a mat-icon {
  font-size: 1.75vw;
}

#buttonsNav a:hover {
  /* text-decoration: underline; */
  color: rgb(241, 243, 244);
  text-shadow: 1.5px 1.5px 10px rgba(241, 243, 244, 0.35);
}

.showButtons {
  animation: showButtons 1s forwards;
  animation-delay: 0.5s;
}

@keyframes showButtons {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

@keyframes hideButtons {}

/* Visualização Desktop */

@media(min-width: 450.5px) {}

/* Visualização Mobile */

@media(max-width: 450px) {
  #fullName {
    margin: 32.5vh 5% 10px;
    width: 90%;
    font-size: 5.8vw;
    letter-spacing: 1.9vw;
  }
  #jobTitle {
    margin: 0 5%;
    width: 90%;
    font-size: 2.5vw;
    letter-spacing: 2.9vw;
  }
  #buttonsNav {
    bottom: 10vw;
  }
  #buttonsNav a {
    font-size: 3vw;
  }
  #buttonsNav a mat-icon {
    font-size: 4vw;
  }
}