<div class="home">
    <div class="showHome">
        <div id="fullName">HENRIQUE CANDOLO</div>
        <div id="jobTitle">DEVELOPER | DESIGNER</div>
    </div>
    <div id="buttonsNav" class="hideInMobile showButtons">
        <a (click)='goTo("projects")'>
            PROJETOS  
        </a>
        <a (click)='goTo("tutorials")'>
            TUTORIAIS
        </a>
        <a (click)='goTo("articles")'>
            ARTIGOS
        </a>
        <a (click)='goTo("info")'>
            INFO
        </a>
        <a matTooltip="Meu Github" href="https://github.com/hencan" target="_blank">
            <mat-icon class="fab fa-github"></mat-icon>
        </a>
    </div>
    <app-anime-icons></app-anime-icons>

</div>