/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* Tipos de Fonts: opentype   |   truetype */

/* @font-face {
  font-family: Neoneon;
  src: url(./assets/fonts/neoneon/Neoneon.otf) format("opentype");
} */

/* @font-face {
  font-family: Kompakt;
  src: url(./assets/fonts/kompact/kompakt-Regular.otf) format("opentype");
} */

:host {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ######################################################################################### */

/* ################################# Estilo do Scrollbar 👇 ################################ */

/* ######################################################################################### */

/* width */

::-webkit-scrollbar {
  width: 1px;
}

/* Track */

::-webkit-scrollbar-track {
  background-color: rgb(44, 55, 66);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background-color: rgb(55, 66, 77);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(29, 116, 245);
}

/* ######################################################################################### */

/* ################################# Estilo do Scrollbar ☝ ################################ */

/* ######################################################################################### */

/* ######################################################################################### */

/* ######################### Interface e Operadores de Filtros 👇 ########################## */

/* ######################################################################################### */

.btnsFilters {
  display: flex;
  flex-direction: row;
  margin: 10px 24px 15px;
}

.btnsFilters mat-chip-list mat-chip {
  font-size: 1rem;
  font-weight: 400;
  background-color: rgb(76, 76, 76);
}

.btnsFilters mat-chip-list mat-chip mat-icon {
  padding-top: 4px;
  font-size: 1.15rem;
  text-align: left;
  width: 20px;

}

.mat-chip-selected {
  /* background-color: rgb(0, 120, 215) !important; */
  background-color: rgb(31, 31, 31) !important;
}

.filtersItems {
  display: flex;
  flex-direction: column;
  width: calc(100% - 48px);
  height: auto;
  overflow: hidden;
  margin: 0 24px 20px;
}

.fiHide {
  display: none;
}

.fiShow {
  display: flex;
}

.countItensFilters {
  display: flex;
  flex-direction: row;
  margin: 2.5px 0 10px;
  padding: 0 30px;
  font-size: 0.75rem;
  font-weight: 100;
  color: rgb(86, 86, 86);
}

.search {
  margin: 0;
  padding: 0 24px;
}

/* Visualização Desktop */

@media(min-width: 450.5px) {}

/* Visualização Mobile */

@media(max-width: 450px) {
  .filtersItems {
    width: calc(100% - 48px);
    height: auto;
    margin: 0 24px 20px;
  }
  .btnsFilters {
    width: calc(100% - 5vw);
    margin: 5px 0 10px;
    padding: 0 2.5vw;
  }
  .btnsFilters mat-chip-list mat-chip {
    font-size: 11px;
  }
  .btnsFilters mat-chip-list mat-chip mat-icon {
    padding-top: 5.5px;
    font-size: 15px;
    text-align: left;
    width: 20px;
  }
  .countItensFilters {
    font-size: 11px;
    padding: 0 3vw;
    margin: 1.5px 0 10px;
  }
  .search {
    margin: 0;
    padding: 0 2.5vw;
  }
}

/* ######################################################################################### */

/* ######################### Interface e Operadores de Filtros ☝ ########################## */

/* ######################################################################################### */

/* ######################################################################################### */

/* ######################## Padrão de colunas e Linhas Especiais 👇 ######################## */

/* ######################################################################################### */

.header {
  text-align: center;
  color: rgb(7, 19, 33);
  font-size: 5vw;
  font-weight: 100;
  letter-spacing: 5vw;
  margin: 50px 0 25px 5vw;
  transform: scale(1, 0.2);
  filter: opacity(0.05);
  animation: animeHeader 1s forwards;
  animation-delay: 0.5s;
}

.title {
  cursor: default;
  margin: 10px 0 0;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(40, 40, 40);
  padding: 0 30px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.subtitle {
  margin: 2.5px 0 0;
  font-size: 1rem;
  font-weight: 100;
  color: rgb(31, 31, 31);
  padding: 5px 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.dateAndBy {
  margin: 2.5px 0 0;
  color: rgb(31, 31, 31);
  font-size: 0.9rem;
  font-weight: 100;
  padding: 0 10px;
}

.category {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 2.5px 0 10px 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.categoryChips {
  cursor: default;
  color: rgb(242, 242, 242);
  /* color: rgb(40, 40, 40); */
  /* background-color: rgb(76, 76, 76); */
  background-color: rgb(40, 40, 40);
  /* border: solid 1px rgb(40, 40, 40); */
  font-size: 0.75rem;
  font-weight: 100;
  padding: 4px 8px;
  margin: 10px 2.5px 5px 0;
}

@media(max-width: 450px) {
  .header {
    text-align: left;
    font-size: 11px;
    letter-spacing: 2.5vw;
    margin: 5px 10px 7.5px;
    transform: scale(1, 1);
    filter: opacity(1);
    animation: none;
  }
  .title {
    font-size: 11px;
    margin: 5px 0 0;
    padding: 0 0 0 10px;
    line-height: normal;
  }
  .subtitle {
    margin: 1.5px 0 0;
    font-size: 11px;
    padding: 0 10px;
    line-height: normal;
  }
  .dateAndBy {
    font-size: 9px;
    margin: 1.5px 0 0;
    padding: 0 10px;
  }
  .category {
    margin: 1.5px 10px 5px;
  }
  .categoryChips {
    font-size: 9px;
    margin: 0 2.5px 5px 0;
  }
}

/* ######################################################################################### */

/* ######################## Padrão de colunas e Linhas Especiais ☝ ######################## */

/* ######################################################################################### */

/* ######################################################################################### */

/* ######################## Animações 👇 ######################## */

/* ######################################################################################### */

.showInLoading {
  animation: showInLoading 1s forwards;
}

@keyframes showInLoading {
  0% {
    filter: opacity(0);
    transform: translateY(100vh);
  }
  50% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(1);
    transform: translateY(0);
  }
}

@keyframes animeHeader {
  0% {
    transform: translateY(0);
    transform: scale(1, 0.25);
  }
  100% {
    transform: scale(1, 0.85);
    filter: opacity(1);
    text-shadow: 5px 5px 20px rgba(3, 2, 1, 0.2);
  }
}

/* ######################################################################################### */

/* ######################## Animações ☝ ######################## */

/* ######################################################################################### */